<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="akavache" version="6.5.1" targetFramework="net471" />
  <package id="akavache.core" version="6.5.1" targetFramework="net471" />
  <package id="akavache.sqlite3" version="6.5.1" targetFramework="net471" />
  <package id="CommonServiceLocator" version="2.0.4" targetFramework="net461" requireReinstallation="true" />
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net461" requireReinstallation="true" />
  <package id="CsvHelper" version="12.1.2" targetFramework="net461" />
  <package id="DeltaCompressionDotNet" version="2.0.0.0" targetFramework="net461" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net461" requireReinstallation="true" />
  <package id="Mono.Cecil" version="0.10.3" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net471" />
  <package id="Newtonsoft.Json.Bson" version="1.0.2" targetFramework="net471" />
  <package id="Prism.Core" version="7.1.0.431" targetFramework="net471" />
  <package id="Prism.Unity" version="7.1.0.431" targetFramework="net471" />
  <package id="Prism.Wpf" version="7.1.0.431" targetFramework="net471" />
  <package id="SharpCompress" version="0.23.0" targetFramework="net461" />
  <package id="Splat" version="7.2.1" targetFramework="net461" />
  <package id="sqlite-net-pcl" version="1.5.231" targetFramework="net461" />
  <package id="SQLitePCLRaw.bundle_e_sqlite3" version="1.1.13" targetFramework="net471" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.13" targetFramework="net461" />
  <package id="SQLitePCLRaw.core" version="1.1.13" targetFramework="net461" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.linux" version="1.1.13" targetFramework="net461" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.osx" version="1.1.13" targetFramework="net461" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.v110_xp" version="1.1.13" targetFramework="net461" />
  <package id="SQLitePCLRaw.provider.e_sqlite3.net45" version="1.1.13" targetFramework="net461" />
  <package id="System.Configuration.ConfigurationManager" version="4.4.1" targetFramework="net471" />
  <package id="System.Drawing.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Reactive" version="4.0.0" targetFramework="net471" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net461" />
  <package id="System.Security.Cryptography.ProtectedData" version="4.5.0" targetFramework="net471" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" requireReinstallation="true" />
  <package id="Unity" version="5.8.13" targetFramework="net471" />
  <package id="Unity.Abstractions" version="3.3.1" targetFramework="net471" />
  <package id="Unity.Container" version="5.8.13" targetFramework="net471" />
  <package id="WPFLocalizeExtension" version="3.3.1" targetFramework="net461" />
  <package id="XAMLMarkupExtensions" version="1.5.1" targetFramework="net461" />
</packages>